body{
  text-align: center;
  background-color:  #393E46 /*#151D3B*/;
}
.container{
  width:80%;
  margin:auto;
}
h1{
  font-size: 8rem;
  color: #4ECCA3;
  text-shadow: 5px 5px #232931;
  font-family: 'Lobster', cursive;
  margin: 30px;
}
.dice{
  display: inline-block;
}
p{
  color: #4ECCA3;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}
img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
}
@media (max-width:992px){
  h1{
    font-size: 5rem;
  }
}
